body {
  font-family: "Inter", sans-serif;
}

.img-logo {
  width: 116px;
  height: 32px;
  margin-left: 24px;
}

.shop-count {
  padding-top: 6px;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
  display: block;
  padding-right: 10px;
  color: #ffffff;
}

.img-shop {
  width: 31px;
  height: 31px;
  margin-top: 9px;
}

.shop-register {
  padding-top: 15px;
  padding-right: 50px;

  .register {
    font-size: 16px;
    line-height: 19px;
  }
}

.shop-login {
  padding-top: 15px;
  padding-right: 31px;

  .login {
    font-size: 16px;
    line-height: 19px;
  }
}

nav {
  padding-top: 16px;
  .nav-text {
    font-size: 20px;
    font-weight: 400;
  }
}

.home {
  padding-left: 25px;
}
.men {
  padding-left: 24px;
}
.women {
  padding-left: 37px;
}
.kid {
  padding-left: 39px;
}
.sport {
  padding-left: 40px;
}

.img-football {
  margin-left: 85px;
}

.product-name {
  // padding-top: 124px;
  font-size: 40px;
  font-weight: 300;
  color: #000000;
  padding-left: 65px;
}
.product-name2 {
  font-size: 20px;
  font-weight: 300;
  color: #000000;
  padding-left: 65px;
  padding-bottom: 10px;
}
.product-button {
  border: none;
  margin-left: 65px;
  padding: 13px 34px;
  background-color: #f8b653;
}

.click-buy {
  font-size: 20px;
  font-weight: 300;
}

.carousel-control-prev {
  width: 7%;
  .prev-button {
    font-size: 100px;
    color: #000;
  }
}

.carousel-control-next {
  width: 7%;
  .next-button {
    font-size: 100px;
    color: #000;
  }
}

.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border-radius: 100%;
  border: 1px solid #000000;
}

.carousel {
  position: relative;
  z-index: 1;
}
.img-slide {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 100%;
}

.carousel-indicators {
  margin-bottom: -2rem;
}

.product-feature {
  position: relative;
  padding-top: 15%;
  .title-product {
    text-align: center;
    .title-h1 {
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 48px;
      color: #000000;
      margin-bottom: 89px;
    }
  }
}

.card {
  margin: 25px;
  border: none;
  background-color: #f8f8f8;
 
  
}

.card-img-top {
  width: 100%;
  padding: 45px 57px;
}

.card-body {
  padding: 0px;
}

.button-product {
  border: none;
  padding: 13px;
  background-color: #f8b653;
}
.money {
  
  text-align: center;
  line-height: 50px;
  background: #dedddc;
}

.card-title {
  font-style: normal;
  padding-left: 23px;
  font-weight: 300;
  font-size: 24px;
  color: #000000;
}
.card-text {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  padding-left: 23px;
  color: #CBC9C9;;
}

.footer{
    padding-top: 55px;
}

.card--items{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 50px;
 
}

.register-pad{
  padding-top: 50px;
}

input{
  padding: 20px 0;
  font-size: 30px;
  border: none;
  border-bottom: 4px solid #AE18E2;
  outline: none;
}

.mini-footer{
  padding-top: 65px;
}

button{
  background-color: #AE18E2;
  color: #ffffff;
  border: none;
}