.product-button {
    border: none;
    margin-left: 65px;
    padding: 13px 34px;
    background-color: #f8b653;
  }
  
  .click-buy {
    font-size: 20px;
    font-weight: 300;
  }
  
  
  .register-pad{
    padding-top: 50px;
  }
  
  input{
    padding: 20px 0;
    font-size: 30px;
    border: none;
    border-bottom: 4px solid #AE18E2;
    outline: none;
  }
  
  
  button{
    background-color: #AE18E2;
    color: #ffffff;
    border: none;
  }