

.img-logo {
    width: 116px;
    height: 32px;
    margin-left: 24px;
  }
  
  .shop-count {
    padding-top: 6px;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    display: block;
    padding-right: 10px;
    color: #ffffff;
  }
  
  .img-shop {
    width: 31px;
    height: 31px;
    margin-top: 9px;
  }
  
  .shop-register {
    padding-top: 15px;
    padding-right: 50px;
  
    .register {
      font-size: 16px;
      line-height: 19px;
    }
  }
  
  .shop-login {
    padding-top: 15px;
    padding-right: 31px;
  
    .login {
      font-size: 16px;
      line-height: 19px;
    }
  }
  
  nav {
    padding-top: 16px;
    .nav-text {
      font-size: 20px;
      font-weight: 400;
    }
  }
  
  .home {
    padding-left: 25px;
  }
  .men {
    padding-left: 24px;
  }
  .women {
    padding-left: 37px;
  }
  .kid {
    padding-left: 39px;
  }
  .sport {
    padding-left: 40px;
  }